absl-py @ file:///croot/absl-py_1714140470852/work
aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1741775197943/work
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1742268584549/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1734342155601/work
antlr4-python3-runtime @ file:///home/conda/feedstock_root/build_artifacts/antlr-python-runtime-meta_1638309185939/work
anyio @ file:///croot/anyio_1729121277521/work
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///croot/argon2-cffi-bindings_1736182440035/work
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
astunparse==1.6.3
async-lru @ file:///work/perseverance-python-buildout/croot/async-lru_1701732681408/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1733235340728/work
attrs @ file:///croot/attrs_1734533101012/work
babel @ file:///croot/babel_1737454360933/work
beautifulsoup4 @ file:///croot/beautifulsoup4-split_1718029820055/work
bleach @ file:///croot/bleach_1732290411627/work
Bottleneck @ file:///croot/bottleneck_1731058641041/work
Brotli @ file:///croot/brotli-split_1736182456865/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1739515848642/work/certifi
cffi @ file:///croot/cffi_1736182485317/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1734858813237/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
comm @ file:///croot/comm_1709322850197/work
contourpy @ file:///croot/contourpy_1732540045555/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
datasets @ file:///home/conda/feedstock_root/build_artifacts/datasets_1652661982895/work
debugpy @ file:///croot/debugpy_1736267418885/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1733249551891/work
dm-tree @ file:///work/perseverance-python-buildout/croot/dm-tree_1698864298901/work
etils @ file:///home/conda/feedstock_root/build_artifacts/etils_1741837923525/work
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fastjsonschema @ file:///croot/python-fastjsonschema_1731939362158/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1741969488311/work
flatbuffers @ file:///croot/python-flatbuffers_1722369094438/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1738940287426/work
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1737645256942/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1741403990995/work
gast @ file:///tmp/build/80754af9/gast_1637837472536/work
google-pasta @ file:///Users/ktietz/demo/mc3/conda-bld/google-pasta_1630577991354/work
googleapis-common-protos @ file:///home/conda/feedstock_root/build_artifacts/googleapis-common-protos-feedstock_1742265914556/work
grpcio @ file:///croot/grpc-split_1716834572340/work
h11 @ file:///croot/h11_1706652277403/work
h5py @ file:///croot/h5py_1737051113867/work
httpcore @ file:///croot/httpcore_1706728464539/work
httpx @ file:///croot/httpx_1723474802858/work
huggingface_hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1741710986684/work
hydra-core @ file:///home/conda/feedstock_root/build_artifacts/hydra-core_1736934708722/work
idna @ file:///croot/idna_1714398848350/work
imagecodecs @ file:///croot/imagecodecs_1734436728732/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1738273805233/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1737420181517/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1736252299705/work
iopath @ file:///home/conda/feedstock_root/build_artifacts/iopath_1723846728822/work
ipykernel @ file:///croot/ipykernel_1737660677549/work
ipython @ file:///croot/ipython_1734548052611/work
ipywidgets @ file:///croot/ipywidgets_1733504575802/work
jedi @ file:///croot/jedi_1733987392413/work
Jinja2 @ file:///croot/jinja2_1737760107953/work
json5 @ file:///croot/json5_1730786798687/work
jsonschema @ file:///croot/jsonschema_1728486696720/work
jsonschema-specifications @ file:///work/perseverance-python-buildout/croot/jsonschema-specifications_1701731664072/work
jupyter @ file:///croot/jupyter_1737645803214/work
jupyter-console @ file:///work/perseverance-python-buildout/croot/jupyter_console_1707343324117/work
jupyter-events @ file:///croot/jupyter_events_1718738097486/work
jupyter-lsp @ file:///work/perseverance-python-buildout/croot/jupyter-lsp-meta_1707343107456/work
jupyter_client @ file:///croot/jupyter_client_1737570961872/work
jupyter_core @ file:///croot/jupyter_core_1718818295206/work
jupyter_server @ file:///croot/jupyter_server_1718827083372/work
jupyter_server_terminals @ file:///work/perseverance-python-buildout/croot/jupyter_server_terminals_1701732095362/work
jupyterlab @ file:///croot/jupyterlab_1725895214311/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab_server @ file:///croot/jupyterlab_server_1725865349919/work
jupyterlab_widgets @ file:///croot/jupyterlab_widgets_1733440870459/work
kagglehub @ file:///home/conda/feedstock_root/build_artifacts/kagglehub_1739488418739/work
keras @ file:///croot/keras_1733152594514/work
kiwisolver @ file:///croot/kiwisolver_1737039087198/work
lazy_loader @ file:///home/conda/feedstock_root/build_artifacts/lazy-loader_1733636780672/work
Markdown @ file:///work/perseverance-python-buildout/croot/markdown_1698870813381/work
markdown-it-py @ file:///work/perseverance-python-buildout/croot/markdown-it-py_1698846045803/work
MarkupSafe @ file:///croot/markupsafe_1736366905094/work
matplotlib==3.10.0
matplotlib-inline @ file:///work/perseverance-python-buildout/croot/matplotlib-inline_1698864771271/work
mdurl @ file:///work/perseverance-python-buildout/croot/mdurl_1698845653285/work
mistune @ file:///work/perseverance-python-buildout/croot/mistune_1698895588147/work
mkl-service==2.4.0
mkl_fft @ file:///io/mkl313/mkl_fft_1730824109137/work
mkl_random @ file:///io/mkl313/mkl_random_1730823916628/work
ml_dtypes @ file:///croot/ml_dtypes_1722369114743/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1733302684489/work
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1742308129723/work
multiprocess @ file:///work/perseverance-python-buildout/croot/multiprocess_1698870874259/work
munkres==1.1.4
namex @ file:///croot/namex_1715206936162/work
nbclient @ file:///work/perseverance-python-buildout/croot/nbclient_1701731912506/work
nbconvert @ file:///croot/nbconvert_1728049414448/work
nbformat @ file:///croot/nbformat_1728049424075/work
nest-asyncio @ file:///croot/nest-asyncio_1708532673751/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1731521053/work
notebook @ file:///croot/notebook_1727197365392/work
notebook_shim @ file:///work/perseverance-python-buildout/croot/notebook-shim_1707343174853/work
numexpr @ file:///croot/numexpr_1730215937391/work
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp312-cp312-linux_x86_64.whl#sha256=1d700f51d8b4fa684d858c9e3b56b1656bc5c82b6b79ff08d4e3b491c430059f
omegaconf @ file:///home/conda/feedstock_root/build_artifacts/omegaconf_1670575376789/work
opencv-python==4.10.0
opencv-python-headless==4.10.0
opt-einsum @ file:///tmp/build/80754af9/opt_einsum_1621500238896/work
optree @ file:///croot/optree_1742210181724/work
overrides @ file:///work/perseverance-python-buildout/croot/overrides_1701732220415/work
packaging @ file:///croot/packaging_1734472117206/work
pandas @ file:///croot/pandas_1732735089971/work/dist/pandas-2.2.3-cp312-cp312-linux_x86_64.whl#sha256=57b66702d418720ec8483f7c4ec7c08d41815316ad7ce09d5b7bbc34eefcfdfd
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///croot/parso_1733963305961/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pillow @ file:///croot/pillow_1738010226202/work
platformdirs @ file:///work/perseverance-python-buildout/croot/platformdirs_1701732573265/work
ply @ file:///work/perseverance-python-buildout/croot/ply_1698846188635/work
portalocker @ file:///home/conda/feedstock_root/build_artifacts/portalocker_1731964070376/work
prometheus_client @ file:///croot/prometheus_client_1731953121795/work
promise==2.2.1
prompt-toolkit @ file:///croot/prompt-toolkit_1704404351921/work
propcache @ file:///home/conda/feedstock_root/build_artifacts/propcache_1737635524653/work
protobuf==4.25.3
psutil @ file:///croot/psutil_1736367091698/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyarrow @ file:///croot/pyarrow_1738229418212/work/python
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
Pygments @ file:///work/perseverance-python-buildout/croot/pygments_1698846270603/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1735698276679/work
PyQt5==5.15.10
PyQt5_sip @ file:///croot/pyqt-split_1736540531116/work/pyqt_sip
PySocks @ file:///work/perseverance-python-buildout/croot/pysocks_1698845478203/work
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
python-json-logger @ file:///croot/python-json-logger_1734370021104/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1738317518727/work
PyWavelets==1.8.0
PyYAML @ file:///croot/pyyaml_1728657952215/work
pyzmq @ file:///croot/pyzmq_1734687138743/work
qtconsole @ file:///croot/qtconsole_1737590761179/work
QtPy @ file:///work/perseverance-python-buildout/croot/qtpy_1701733558435/work
referencing @ file:///work/perseverance-python-buildout/croot/referencing_1701731622327/work
regex @ file:///home/conda/feedstock_root/build_artifacts/regex_1730952243530/work
requests @ file:///croot/requests_1730999120400/work
responses @ file:///home/conda/feedstock_root/build_artifacts/responses_1643839609465/work
rfc3339-validator @ file:///work/perseverance-python-buildout/croot/rfc3339-validator_1698873973408/work
rfc3986-validator @ file:///work/perseverance-python-buildout/croot/rfc3986-validator_1698874010100/work
rich @ file:///croot/rich_1732638981168/work
rpds-py @ file:///croot/rpds-py_1736541261634/work
safetensors @ file:///home/conda/feedstock_root/build_artifacts/safetensors_1740651476484/work
SAM-2 @ file:///home/conda/feedstock_root/build_artifacts/sam-2_1730837421644/work
scikit-image @ file:///home/conda/feedstock_root/build_artifacts/scikit-image_1739948391775/work/dist/scikit_image-0.25.2-cp312-cp312-linux_x86_64.whl#sha256=bf3cff4024e49c29c982c7ccba0d1856268b9be8635bc35bf9dce822732ab3ac
scipy @ file:///croot/scipy_1737122901252/work/dist/scipy-1.15.1-cp312-cp312-linux_x86_64.whl#sha256=7b1b0001c943e119509d010e5cbb4950dd6e325a83ca2510a25f139dac6d66a8
Send2Trash @ file:///croot/send2trash_1736540790175/work
setuptools==75.1.0
sip @ file:///croot/sip_1736541134699/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
sniffio @ file:///croot/sniffio_1705431295498/work
soupsieve @ file:///work/perseverance-python-buildout/croot/soupsieve_1698866207280/work
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1736248181614/work
tensorboard @ file:///croot/tensorboard_1723042039441/work/tensorboard-2.17.0-py3-none-any.whl#sha256=859a499a9b1fb68a058858964486627100b71fcb21646861c61d31846a6478fb
tensorboard_data_server @ file:///croot/tensorboard-data-server_1724172556187/work/tensorboard_data_server-0.7.0-py3-none-manylinux2014_x86_64.whl#sha256=162df89696269a70a88358ad14c08b73a057ccde1ec28f3dd314ca4fc4fd9ce4
tensorflow @ file:///opt/conda/conda-bld/tensorflow-split_1729547219394/work/tensorflow_pkg/tensorflow-2.17.0-cp312-cp312-linux_x86_64.whl#sha256=8511f3ff6be96797e8ba3fab532f6cc320e1817f36123011a6a98860a0b1344d
tensorflow-datasets @ file:///home/conda/feedstock_root/build_artifacts/tensorflow-datasets_1677527310957/work
tensorflow-metadata @ file:///home/conda/feedstock_root/build_artifacts/tensorflow-metadata_1739065253289/work/tensorflow_metadata-1.16.1-py3-none-any.whl#sha256=2ce72ea31d78a00c0c74c6d465482335aa5cb2a3b2a104dedba0b258bc7bb18a
tensorflow_estimator @ file:///opt/conda/conda-bld/tensorflow-split_1729547219394/work/tensorflow-estimator/wheel_dir/tensorflow_estimator-2.15.0-py2.py3-none-any.whl#sha256=bd4ca878e838e94f6b31f66fdd7536ab8d8ac04661a1bc791686670280e868de
termcolor @ file:///work/perseverance-python-buildout/croot/termcolor_1698874897952/work
terminado @ file:///work/perseverance-python-buildout/croot/terminado_1698874934826/work
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1734094708987/work
tinycss2 @ file:///work/perseverance-python-buildout/croot/tinycss2_1698875051986/work
tokenizers @ file:///home/conda/feedstock_root/build_artifacts/tokenizers_1741890306485/work/bindings/python
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1734091811753/work
torch @ file:///home/conda/feedstock_root/build_artifacts/libtorch_1718580401398/work
torchvision @ file:///croot/torchvision_1722896634795/work
tornado @ file:///croot/tornado_1733960490606/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
traitlets @ file:///croot/traitlets_1718227057033/work
transformers @ file:///home/conda/feedstock_root/build_artifacts/transformers_1739826231190/work
triton==3.1.0
typing_extensions @ file:///croot/typing_extensions_1734714854207/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1737541069190/work
unicodedata2 @ file:///croot/unicodedata2_1736541023050/work
urllib3 @ file:///croot/urllib3_1737133630106/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings @ file:///work/perseverance-python-buildout/croot/webencodings_1698866454420/work
websocket-client @ file:///croot/websocket-client_1715878298792/work
Werkzeug @ file:///croot/werkzeug_1737448706492/work
wheel==0.44.0
widgetsnbextension @ file:///croot/widgetsnbextension_1733439572884/work
wrapt @ file:///croot/wrapt_1736540904746/work
xxhash @ file:///croot/python-xxhash_1737039434400/work
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1737575798240/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
